*.pyc
*.DS_Store
.coverage
.tox
*~
docs/_build
*.egg-info
*.egg
.eggs
dist
build
env
htmlcov

# Editors
.idea

$ cat .gitignore
__pycache__/
*.py[cod]

$ cat .idea/.gitignore 
*.xml

!/codeStyleSettings.xml
!/copyright/*.xml
!/fileColors.xml
!/encodings.xml
!/gradle.xml
!/runConfigurations/*.xml

!/inspectionProfiles/*.xml
/inspectionProfiles/profiles_settings.xml

!/scopes/*.xml
/scopes/scope_settings.xml

!/templateLanguages.xml
!/vcs.xml

.idea/workspace.xml
.idea/tasks.xml
/.idea/
.idea/vcs.xml